# Backend Laravel
APP_ENV=production
APP_DEBUG=false
APP_URL=http://localhost
APP_KEY=

# Base de datos principal
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=inventario_db
DB_USERNAME=inventario
DB_PASSWORD=inventariopass

# Cache/Colas
REDIS_HOST=redis
SESSION_DRIVER=database
QUEUE_CONNECTION=database

# Keycloak
KEYCLOAK_DB_USERNAME=keycloak
KEYCLOAK_DB_PASSWORD=keycloakpass
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=adminpass

# Otros
APP_LOCALE=es
